openapi: 3.2.0
info:
  title: Box Platform Users API
  description: Box Platform provides functionality to provide access to content stored within Box. It provides endpoints for basic manipulation of files and folders, management of users within an enterprise, as well as more complex topics such as legal holds and retention policies.
  termsOfService: https://cloud.app.box.com/s/rmwxu64h1ipr41u49w3bbuvbsa29wku9
  contact:
    name: Box, Inc
    url: https://box.dev
    email: devrel@box.com
  license:
    name: Apache-2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
  version: 2.0.0
  x-box-commit-hash: '5819125043'
servers:
- url: https://api.box.com/2.0
  description: Box Platform API server
security:
- OAuth2Security: []
tags:
- name: Users
  description: 'Box API supports a variety of users,

    ranging from real employees

    logging in with their Managed User account,

    to applications using App Users to drive powerful

    automation workflows.'
  x-box-tag: users
paths:
  /users:
    get:
      operationId: get_users
      x-box-tag: users
      summary: Box List enterprise users
      tags:
      - Users
      description: 'Returns a list of all users for the Enterprise along with their `user_id`,

        `public_name`, and `login`.


        The application and the authenticated user need to

        have the permission to look up users in the entire

        enterprise.'
      parameters:
      - name: filter_term
        description: 'Limits the results to only users who''s `name` or

          `login` start with the search term.


          For externally managed users, the search term needs

          to completely match the in order to find the user, and

          it will only return one user at a time.'
        in: query
        required: false
        example: john
        schema:
          type: string
      - name: user_type
        description: "Limits the results to the kind of user specified.\n\n* `all` returns every kind of user for whom the\n  `login` or `name` partially matches the\n  `filter_term`. It will only return an external user\n  if the login matches the `filter_term` completely,\n  and in that case it will only return that user.\n* `managed` returns all managed and app users for whom\n  the `login` or `name` partially matches the\n  `filter_term`.\n* `external` returns all external users for whom the\n  `login` matches the `filter_term` exactly."
        in: query
        required: false
        example: managed
        schema:
          type: string
          enum:
          - all
          - managed
          - external
      - name: external_app_user_id
        in: query
        required: false
        schema:
          type: string
        example: my-user-1234
        description: 'Limits the results to app users with the given

          `external_app_user_id` value.


          When creating an app user, an

          `external_app_user_id` value can be set. This value can

          then be used in this endpoint to find any users that

          match that `external_app_user_id` value.'
      - name: fields
        description: 'A comma-separated list of attributes to include in the

          response. This can be used to request fields that are

          not normally returned in a standard response.


          Be aware that specifying this parameter will have the

          effect that none of the standard fields are returned in

          the response unless explicitly specified, instead only

          fields for the mini representation are returned, additional

          to the fields requested.'
        in: query
        example:
        - id
        - type
        - name
        required: false
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: offset
        description: 'The offset of the item at which to begin the response.


          Queries with offset parameter value

          exceeding 10000 will be rejected

          with a 400 response.'
        in: query
        required: false
        example: 1000
        schema:
          type: integer
          format: int64
          default: 0
      - name: limit
        description: The maximum number of items to return per page.
        in: query
        required: false
        example: 1000
        schema:
          type: integer
          format: int64
          maximum: 1000
      - name: usemarker
        description: 'Specifies whether to use marker-based pagination instead of

          offset-based pagination. Only one pagination method can

          be used at a time.


          By setting this value to true, the API will return a `marker` field

          that can be passed as a parameter to this endpoint to get the next

          page of the response.'
        in: query
        required: false
        example: true
        schema:
          type: boolean
      - name: marker
        description: 'Defines the position marker at which to begin returning results. This is

          used when paginating using marker-based pagination.


          This requires `usemarker` to be set to `true`.'
        in: query
        required: false
        example: JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii
        schema:
          type: string
      responses:
        '200':
          description: Returns all of the users in the enterprise.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Users'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
    post:
      operationId: post_users
      summary: Box Create user
      tags:
      - Users
      x-box-tag: users
      description: 'Creates a new managed user in an enterprise. This endpoint

        is only available to users and applications with the right

        admin permissions.'
      parameters:
      - name: fields
        description: 'A comma-separated list of attributes to include in the

          response. This can be used to request fields that are

          not normally returned in a standard response.


          Be aware that specifying this parameter will have the

          effect that none of the standard fields are returned in

          the response unless explicitly specified, instead only

          fields for the mini representation are returned, additional

          to the fields requested.'
        in: query
        example:
        - id
        - type
        - name
        required: false
        explode: false
        schema:
          type: array
          items:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                  description: The name of the user
                  example: Aaron Levie
                  maxLength: 50
                login:
                  type: string
                  description: 'The email address the user uses to log in


                    Required, unless `is_platform_access_only`

                    is set to `true`.'
                  example: boss@box.com
                is_platform_access_only:
                  type: boolean
                  example: true
                  description: Specifies that the user is an app user.
                role:
                  type: string
                  enum:
                  - coadmin
                  - user
                  description: The user’s enterprise role
                  example: user
                language:
                  type: string
                  description: 'The language of the user, formatted in modified version of the

                    [ISO 639-1](/guides/api-calls/language-codes) format.'
                  example: en
                is_sync_enabled:
                  type: boolean
                  description: Whether the user can use Box Sync
                  example: true
                job_title:
                  type: string
                  description: The user’s job title
                  maxLength: 100
                  example: CEO
                phone:
                  type: string
                  description: The user’s phone number
                  maxLength: 100
                  example: '6509241374'
                address:
                  type: string
                  description: The user’s address
                  maxLength: 255
                  example: 900 Jefferson Ave, Redwood City, CA 94063
                space_amount:
                  type: integer
                  format: int64
                  description: 'The user’s total available space in bytes. Set this to `-1` to

                    indicate unlimited storage.'
                  example: 11345156112
                tracking_codes:
                  type: array
                  items:
                    $ref: '#/components/schemas/TrackingCode'
                  description: 'Tracking codes allow an admin to generate reports from the

                    admin console and assign an attribute to a specific group

                    of users. This setting must be enabled for an enterprise before it

                    can be used.'
                can_see_managed_users:
                  type: boolean
                  example: true
                  description: 'Whether the user can see other enterprise users in their

                    contact list'
                timezone:
                  type: string
                  format: timezone
                  description: The user's timezone
                  example: Africa/Bujumbura
                is_external_collab_restricted:
                  type: boolean
                  example: true
                  description: 'Whether the user is allowed to collaborate with users outside

                    their enterprise'
                is_exempt_from_device_limits:
                  type: boolean
                  example: true
                  description: Whether to exempt the user from enterprise device limits
                is_exempt_from_login_verification:
                  type: boolean
                  example: true
                  description: Whether the user must use two-factor authentication
                status:
                  type: string
                  enum:
                  - active
                  - inactive
                  - cannot_delete_edit
                  - cannot_delete_edit_upload
                  description: The user's account status
                  example: active
                external_app_user_id:
                  type: string
                  example: my-user-1234
                  description: 'An external identifier for an app user, which can be used to look

                    up the user. This can be used to tie user IDs from external

                    identity providers to Box users.'
      responses:
        '201':
          description: Returns a user object for the newly created user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User--Full'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
  /users/me:
    get:
      operationId: get_users_me
      x-box-tag: users
      summary: Box Get current user
      tags:
      - Users
      description: 'Retrieves information about the user who is currently authenticated.


        In the case of a client-side authenticated OAuth 2.0 application

        this will be the user who authorized the app.


        In the case of a JWT, server-side authenticated application

        this will be the service account that belongs to the application

        by default.


        Use the `As-User` header to change who this API call is made on behalf of.'
      parameters:
      - name: fields
        description: 'A comma-separated list of attributes to include in the

          response. This can be used to request fields that are

          not normally returned in a standard response.


          Be aware that specifying this parameter will have the

          effect that none of the standard fields are returned in

          the response unless explicitly specified, instead only

          fields for the mini representation are returned, additional

          to the fields requested.'
        in: query
        example:
        - id
        - type
        - name
        required: false
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Returns a single user object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User--Full'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
  /users/{user_id}:
    get:
      operationId: get_users_id
      x-box-tag: users
      summary: Box Get user
      tags:
      - Users
      description: 'Retrieves information about a user in the enterprise.


        The application and the authenticated user need to

        have the permission to look up users in the entire

        enterprise.


        This endpoint also returns a limited set of information

        for external users who are collaborated on content

        owned by the enterprise for authenticated users with the

        right scopes. In this case, disallowed fields will return

        null instead.'
      parameters:
      - name: user_id
        description: The ID of the user.
        example: '12345'
        in: path
        required: true
        schema:
          type: string
      - name: fields
        description: 'A comma-separated list of attributes to include in the

          response. This can be used to request fields that are

          not normally returned in a standard response.


          Be aware that specifying this parameter will have the

          effect that none of the standard fields are returned in

          the response unless explicitly specified, instead only

          fields for the mini representation are returned, additional

          to the fields requested.'
        in: query
        example:
        - id
        - type
        - name
        required: false
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: 'Returns a single user object.


            Not all available fields are returned by default. Use the

            [fields](#param-fields) query parameter to explicitly request

            any specific fields using the [fields](#get-users-id--request--fields)

            parameter.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User--Full'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
    put:
      operationId: put_users_id
      summary: Box Update user
      tags:
      - Users
      x-box-tag: users
      x-box-enable-explorer: true
      description: 'Updates a managed or app user in an enterprise. This endpoint

        is only available to users and applications with the right

        admin permissions.'
      parameters:
      - name: user_id
        description: The ID of the user.
        example: '12345'
        in: path
        required: true
        schema:
          type: string
      - name: fields
        description: 'A comma-separated list of attributes to include in the

          response. This can be used to request fields that are

          not normally returned in a standard response.


          Be aware that specifying this parameter will have the

          effect that none of the standard fields are returned in

          the response unless explicitly specified, instead only

          fields for the mini representation are returned, additional

          to the fields requested.'
        in: query
        example:
        - id
        - type
        - name
        required: false
        explode: false
        schema:
          type: array
          items:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enterprise:
                  type:
                  - string
                  - 'null'
                  example: null
                  description: 'Set this to `null` to roll the user out of the enterprise

                    and make them a free user'
                notify:
                  type: boolean
                  example: true
                  description: 'Whether the user should receive an email when they

                    are rolled out of an enterprise'
                name:
                  type: string
                  description: The name of the user
                  example: Aaron Levie
                  maxLength: 50
                login:
                  type: string
                  description: 'The email address the user uses to log in


                    Note: If the target user''s email is not confirmed, then the

                    primary login address cannot be changed.'
                  example: somename@box.com
                role:
                  type: string
                  enum:
                  - coadmin
                  - user
                  description: The user’s enterprise role
                  example: user
                language:
                  type: string
                  description: 'The language of the user, formatted in modified version of the

                    [ISO 639-1](/guides/api-calls/language-codes) format.'
                  example: en
                is_sync_enabled:
                  type: boolean
                  description: Whether the user can use Box Sync
                  example: true
                job_title:
                  type: string
                  description: The user’s job title
                  maxLength: 100
                  example: CEO
                phone:
                  type: string
                  description: The user’s phone number
                  maxLength: 100
                  example: '6509241374'
                address:
                  type: string
                  description: The user’s address
                  maxLength: 255
                  example: 900 Jefferson Ave, Redwood City, CA 94063
                tracking_codes:
                  type: array
                  items:
                    $ref: '#/components/schemas/TrackingCode'
                  description: 'Tracking codes allow an admin to generate reports from the

                    admin console and assign an attribute to a specific group

                    of users. This setting must be enabled for an enterprise before it

                    can be used.'
                can_see_managed_users:
                  type: boolean
                  example: true
                  description: 'Whether the user can see other enterprise users in their

                    contact list'
                timezone:
                  type: string
                  format: timezone
                  description: The user's timezone
                  example: Africa/Bujumbura
                is_external_collab_restricted:
                  type: boolean
                  example: true
                  description: 'Whether the user is allowed to collaborate with users outside

                    their enterprise'
                is_exempt_from_device_limits:
                  type: boolean
                  example: true
                  description: Whether to exempt the user from enterprise device limits
                is_exempt_from_login_verification:
                  type: boolean
                  example: true
                  description: Whether the user must use two-factor authentication
                is_password_reset_required:
                  type: boolean
                  example: true
                  description: Whether the user is required to reset their password
                status:
                  type: string
                  enum:
                  - active
                  - inactive
                  - cannot_delete_edit
                  - cannot_delete_edit_upload
                  description: The user's account status
                  example: active
                space_amount:
                  type: integer
                  format: int64
                  description: 'The user’s total available space in bytes. Set this to `-1` to

                    indicate unlimited storage.'
                  example: 11345156112
                notification_email:
                  type:
                  - object
                  - 'null'
                  description: 'An alternate notification email address to which email

                    notifications are sent. When it''s confirmed, this will be

                    the email address to which notifications are sent instead of

                    to the primary email address.


                    Set this value to `null` to remove the notification email.'
                  properties:
                    email:
                      type: string
                      example: notifications@example.com
                      description: The email address to send the notifications to.
                external_app_user_id:
                  type: string
                  example: my-user-1234
                  description: 'An external identifier for an app user, which can be used to look

                    up the user. This can be used to tie user IDs from external

                    identity providers to Box users.


                    Note: In order to update this field, you need to request a token

                    using the application that created the app user.'
      responses:
        '200':
          description: Returns the updated user object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User--Full'
        '400':
          description: "Returns an error if some of the parameters are missing or\nnot valid.\n\n* `invalid_parameter` when a parameter is formatted incorrectly,\n  for example when the `notification_email` has an incorrectly formatted\n  email address."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '403':
          description: "Returns an error if the user is not allowed to make the changes.\n\n* `access_denied_insufficient_permissions` when the user does not have\n  the right permissions, for example when updating the notification email\n  is turned off for the enterprise.\n* `denied_by_policy` when the user does not have the right permissions\n  due to the information barrier restrictions."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
    delete:
      operationId: delete_users_id
      x-box-tag: users
      summary: Box Delete user
      tags:
      - Users
      description: 'Deletes a user. By default this will fail if the user

        still owns any content. Move their owned content first

        before proceeding, or use the `force` field to delete

        the user and their files.'
      parameters:
      - name: user_id
        description: The ID of the user.
        example: '12345'
        in: path
        required: true
        schema:
          type: string
      - name: notify
        schema:
          type: boolean
        in: query
        example: true
        description: 'Whether the user will receive email notification of

          the deletion'
      - name: force
        schema:
          type: boolean
        in: query
        example: true
        description: 'Whether the user should be deleted even if this user

          still own files'
      responses:
        '204':
          description: Removes the user and returns an empty response.
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
components:
  schemas:
    User:
      title: User
      type: object
      x-box-resource-id: user
      x-box-variant: standard
      description: 'A standard representation of a user, as returned from any

        user API endpoints by default'
      allOf:
      - $ref: '#/components/schemas/User--Mini'
      - properties:
          created_at:
            type: string
            format: date-time
            description: When the user object was created
            example: '2012-12-12T10:53:43-08:00'
          modified_at:
            type: string
            format: date-time
            description: When the user object was last modified
            example: '2012-12-12T10:53:43-08:00'
          language:
            type: string
            description: 'The language of the user, formatted in modified version of the

              [ISO 639-1](/guides/api-calls/language-codes) format.'
            example: en
          timezone:
            type: string
            format: timezone
            description: The user's timezone
            example: Africa/Bujumbura
          space_amount:
            type: integer
            format: int64
            description: The user’s total available space amount in bytes
            example: 11345156112
          space_used:
            type: integer
            format: int64
            description: The amount of space in use by the user
            example: 1237009912
          max_upload_size:
            type: integer
            format: int64
            description: The maximum individual file size in bytes the user can have
            example: 2147483648
          status:
            type: string
            enum:
            - active
            - inactive
            - cannot_delete_edit
            - cannot_delete_edit_upload
            description: The user's account status
            example: active
          job_title:
            type: string
            description: The user’s job title
            maxLength: 100
            example: CEO
          phone:
            type: string
            description: The user’s phone number
            maxLength: 100
            example: '6509241374'
          address:
            type: string
            description: The user’s address
            maxLength: 255
            example: 900 Jefferson Ave, Redwood City, CA 94063
          avatar_url:
            type: string
            description: URL of the user’s avatar image
            example: https://www.box.com/api/avatar/large/181216415
          notification_email:
            type:
            - object
            - 'null'
            description: 'An alternate notification email address to which email

              notifications are sent. When it''s confirmed, this will be

              the email address to which notifications are sent instead of

              to the primary email address.'
            properties:
              email:
                type: string
                example: notifications@example.com
                description: The email address to send the notifications to.
              is_confirmed:
                type: boolean
                example: true
                description: Specifies if this email address has been confirmed.
    User--Mini:
      title: User (Mini)
      type: object
      x-box-resource-id: user--mini
      x-box-variant: mini
      description: 'A mini representation of a user, as can be returned when nested within other

        resources.'
      allOf:
      - $ref: '#/components/schemas/User--Base'
      - properties:
          name:
            type: string
            description: The display name of this user
            example: Aaron Levie
            maxLength: 50
          login:
            type: string
            format: email
            description: The primary email address of this user
            example: ceo@example.com
    Users:
      title: Users
      type: object
      x-box-resource-id: users
      x-box-tag: users
      description: A list of users.
      allOf:
      - type: object
        description: The part of an API response that describes pagination
        properties:
          total_count:
            description: 'One greater than the offset of the last entry in the entire collection.

              The total number of entries in the collection may be less than

              `total_count`.


              This field is only returned for calls that use offset-based pagination.

              For marker-based paginated APIs, this field will be omitted.'
            example: 5000
            type: integer
            format: int64
          limit:
            description: 'The limit that was used for these entries. This will be the same as the

              `limit` query parameter unless that value exceeded the maximum value

              allowed. The maximum value varies by API.'
            example: 1000
            type: integer
            format: int64
          offset:
            description: 'The 0-based offset of the first entry in this set. This will be the same

              as the `offset` query parameter.


              This field is only returned for calls that use offset-based pagination.

              For marker-based paginated APIs, this field will be omitted.'
            example: 2000
            type: integer
            format: int64
          order:
            description: 'The order by which items are returned.


              This field is only returned for calls that use offset-based pagination.

              For marker-based paginated APIs, this field will be omitted.'
            type: array
            items:
              type: object
              description: The order in which a pagination is ordered
              properties:
                by:
                  description: The field to order by
                  example: type
                  type: string
                direction:
                  type: string
                  description: The direction to order by, either ascending or descending
                  example: ASC
                  enum:
                  - ASC
                  - DESC
      - properties:
          entries:
            type: array
            description: A list of users
            items:
              $ref: '#/components/schemas/User--Full'
    ClientError:
      title: Client error
      type: object
      x-box-resource-id: client_error
      description: A generic error
      properties:
        type:
          description: error
          example: error
          type: string
          enum:
          - error
        status:
          description: The HTTP status of the response.
          example: 400
          type: integer
          format: int32
        code:
          description: A Box-specific error code
          example: item_name_invalid
          type: string
          enum:
          - created
          - accepted
          - no_content
          - redirect
          - not_modified
          - bad_request
          - unauthorized
          - forbidden
          - not_found
          - method_not_allowed
          - conflict
          - precondition_failed
          - too_many_requests
          - internal_server_error
          - unavailable
          - item_name_invalid
          - insufficient_scope
        message:
          description: A short message describing the error.
          example: Method Not Allowed
          type: string
        context_info:
          description: 'A free-form object that contains additional context

            about the error. The possible fields are defined on

            a per-endpoint basis. `message` is only one example.'
          type:
          - object
          - 'null'
          properties:
            message:
              type: string
              description: More details on the error.
              example: Something went wrong.
        help_url:
          description: A URL that links to more information about why this error occurred.
          example: https://developer.box.com/guides/api-calls/permissions-and-errors/common-errors/
          type: string
        request_id:
          description: 'A unique identifier for this response, which can be used

            when contacting Box support.'
          type: string
          example: abcdef123456
    User--Full:
      title: User (Full)
      type: object
      x-box-resource-id: user--full
      x-box-variant: full
      description: 'A full representation of a user, as can be returned from any

        user API endpoint.'
      allOf:
      - $ref: '#/components/schemas/User'
      - properties:
          role:
            type: string
            enum:
            - admin
            - coadmin
            - user
            description: The user’s enterprise role
            example: admin
          tracking_codes:
            type: array
            items:
              $ref: '#/components/schemas/TrackingCode'
            description: 'Tracking codes allow an admin to generate reports from the

              admin console and assign an attribute to a specific group

              of users. This setting must be enabled for an enterprise

              before it can be used.'
          can_see_managed_users:
            type: boolean
            example: true
            description: Whether the user can see other enterprise users in their contact list
          is_sync_enabled:
            type: boolean
            description: Whether the user can use Box Sync
            example: true
          is_external_collab_restricted:
            type: boolean
            example: true
            description: 'Whether the user is allowed to collaborate with users outside their

              enterprise'
          is_exempt_from_device_limits:
            type: boolean
            example: true
            description: Whether to exempt the user from Enterprise device limits
          is_exempt_from_login_verification:
            type: boolean
            example: true
            description: Whether the user must use two-factor authentication
          enterprise:
            allOf:
            - title: Enterprise
              type: object
              description: A representation of a Box enterprise
              properties:
                id:
                  type: string
                  description: The unique identifier for this enterprise.
                  example: '11446498'
                type:
                  type: string
                  description: '`enterprise`'
                  example: enterprise
                  enum:
                  - enterprise
                name:
                  description: The name of the enterprise
                  example: Acme Inc.
                  type: string
            - description: Representation of the user’s enterprise
          my_tags:
            type: array
            items:
              type: string
            example:
            - important
            description: 'Tags for all files and folders owned by the user. Values returned

              will only contain tags that were set by the requester.'
          hostname:
            type: string
            example: https://example.app.box.com/
            description: 'The root (protocol, subdomain, domain) of any links that need to be

              generated for the user'
          is_platform_access_only:
            type: boolean
            example: true
            description: Whether the user is an App User
          external_app_user_id:
            type: string
            example: my-user-1234
            description: 'An external identifier for an app user, which can be used to look up

              the user. This can be used to tie user IDs from external identity

              providers to Box users.'
    TrackingCode:
      title: Tracking code
      type: object
      description: 'Tracking codes allow an admin to generate reports from the admin console

        and assign an attribute to a specific group of users.

        This setting must be enabled for an enterprise before it can be used.'
      properties:
        type:
          type: string
          description: '`tracking_code`'
          example: tracking_code
          enum:
          - tracking_code
        name:
          type: string
          description: 'The name of the tracking code, which must be preconfigured in

            the Admin Console'
          example: department
        value:
          type: string
          description: The value of the tracking code
          example: Sales
    User--Base:
      title: User (Base)
      type: object
      x-box-resource-id: user--base
      x-box-tag: users
      x-box-variants:
      - base
      - mini
      - standard
      - full
      x-box-variant: base
      description: 'A mini representation of a user, used when

        nested within another resource.'
      required:
      - type
      - id
      properties:
        id:
          type: string
          description: The unique identifier for this user
          example: '11446498'
        type:
          type: string
          description: '`user`'
          example: user
          enum:
          - user
  securitySchemes:
    OAuth2Security:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://account.box.com/api/oauth2/authorize
          tokenUrl: https://api.box.com/oauth2/token
          scopes:
            root_readonly: Read all files and folders stored in Box
            root_readwrite: Read and write all files and folders stored in Box
            manage_app_users: Provision and manage app users
            manage_managed_users: Provision and manage managed users
            manage_groups: Manage an enterprise's groups
            manage_webhook: Create webhooks programmatically through the API
            manage_enterprise_properties: Manage enterprise properties
            manage_data_retention: Manage data retention polices
            manage_legal_hold: Manage Legal Holds
externalDocs:
  description: Box Developer Documentation
  url: https://developer.box.com
